@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700&family=Rubik+Doodle+Shadow&display=swap');

/* ajoute un effet de fluidité aux défilements */
html {
  scroll-behavior: smooth;
  background-color: #121212
} 

/* personnalisation de la barre de défilement pour les navigateurs WebKit */
::-webkit-scrollbar {
    width: 12px;    /* largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background: #2C2C2C;    /* couleur de l'arrière-plan de la barre */
}

::-webkit-scrollbar-thumb {
    background: #D2A932;     /* couleur de la barre de défilement */
    border-radius: 10px;    /* coins arrondis de la barre de défilement */
}

::-webkit-scrollbar-thumb:hover {
    background:  #0056b3;    /* couleur de la barre de défilement au survol */
    color: #E0E0E0;
}

/* règle pour tout les éléments */
* {
  box-sizing: border-box;    /* assure que la marge intérieur et la bordure sont inclus dans la largeur et la hauteur totale */
  font-family: 'League Spartan', sans-serif;     /* police personnalisée sur Google Font */
}

/* Barre de navigation */
header {
  position: fixed;     /* la barre de navigation reste fixe en haut de la page */
  top: 0;    /* positionné tout en haut */
  left: 0;     /* positionné tout à gauche */
  width: 100%;    /* prend toute la largeur de l'écran */
  height: 130px;    /* hauteur fixe du de la barre */
  background-color: #1E1E1E;     /* couleur de fond blanche */
  display: flex;     /* aligne les éléments */
  justify-content: space-between;    /* espace réparti entre les éléments */
  align-items: center;    /* centre les éléments verticalement */
  padding: 2px 10%;
  box-shadow: 0 0 20px #000;     /* ombre sous le barre*/
  z-index: 100;     /* permet de faire passer la barre de navigation en premier plan afin que le menu soit toujours présent*/
}

/* Logo du site */
.logo {
    width: 200px;
    display: block;    /* élement en bloc*/
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;    /* Centre le menu horizontalement */
    align-items: center; 
}

.menu, .header-right {
  flex: 1;    /* prends la même proportion aux éléments l'espace disponible */
}

.menu ul {
list-style: none;    /* enlève les points de la liste */
align-items: center;
display: flex;
padding: 0;
margin: 0;
}

.menu ul li {
flex: 0 0 auto;  /* empêche les éléments de grandir ou/et de rétrécir */
margin-right: 45px;
}

.menu ul li a {
text-decoration: none;      /* enlève le soulignement des liens */
color: #E0E0E0;
font-size: 25px;      /* taille de la police */
position: relative;     /* positionne les éléments */
}


.menu ul li a::after {
  content: '';    /* crée un vide */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #D2A932;    /* couleur de fond du soulignement */
  transform: scaleX(0);     /* cache le soulignement en le mettant invisble */
  transition: transform 0.2s ease-in-out;     /* animation */
}

.menu ul li a:hover::after {
  transform: scaleX(1);    /* s'étend entièrement à la largeur au survol */
}

/* Changez de style*/
button {
  font-size: 110%;
  background-color: #D2A932;
  color: white;
  padding: 14px 14px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s
}

button:hover {
  background-color: #0056b3;
}

/* Le corps du site */
body { 
  display: flex;    /* utilise flexbox pour le layout */
  align-items: center;    /* centre les éléments verticalement */
  justify-content: flex-start;    /* aligne les éléments au début horizontalement */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;   /* marge en bas du body */
  flex-direction: column;     /* organise les éléments en colonne */
  background-color: #121212;
}

/* Contenue du site */
main {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Titre*/
.titre-principal {
  color: #E0E0E0;
  font-size: 100px;
  text-align: center;
  margin-top: 180px; 
  margin-bottom: 0px;
  padding: 0 20%;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  white-space: nowrap;    /* empêche le retour à la ligne du titre */
}

/* Phrase d'accroche */
.presentation {
    font-size: 20px;
    text-align: center;
    margin-top: 20spx; 
    margin-bottom: 50px;
    padding: 0 20px;
    font-family: 'League Spartan', sans-serif;
    display: block; 
    max-width: 1000px;
    margin-left : 10px;
    margin-right: 10px;
    justify-content: center;
    align-items : center;
    color: #E0E0E0;
    
}

/* Défilement des photos */
.photo {
  width: 20%;
  margin-right: 30px;
  box-sizing: border-box;
  border: 5px solid #333;
  border-radius: 10px;
  display: block;
  height: auto;
  display: inline-flex;
  animation: scroll 70s linear infinite;    /* temps de l'animation pour augmenter ou réduire la vitesse du défilement */
}

.galerie{
  overflow: hidden;     /* permet de masquer le contenue qui déborde notamment en enlevant la barre de scroll horizontalement*/
  white-space: nowrap;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1110%);    /* nécessaire pour revenir au début de la première image après la dixième image dans la boucle */
  }
}

/* Grille tarifaire + localisation Google Maps */
.conteneur-flex {
  background-color: #2C2C2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px #333;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Grille tarifaire */
.tarif {
  margin: auto;
}

.tarif img {
  width: 400px;
  display: block;
  border-radius: 5px;
}

.tarif.alternate-style img {
  content: url('/Tarif-noir.png');
}


/* Localisation Google Maps*/
.localisation {
  margin-left: 20px;
  margin-right: 100px;
  color: #E0E0E0;
}

.localisation h3{
  font-size: 36px;
  margin-bottom: 20px;
  padding-right: 10%;
  padding-top: 50px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  text-align: center;
}
.localisation .ou{
  margin-bottom: 15px;
  padding-right: 50%;
  font-size: 30px;
  font-family: 'League Spartan', sans-serif;
}

.ou iframe{
  width:500px;
  height:400px;
  border: 5px solid black;
}

.localisation iframe {
  width: 500px;
  height: 400px;
}

/* Présentation du coiffeur*/
.conteneur-flex2 {
  display: flex;
  justify-content: space-between;
  margin: 70px;
  margin-top: 20px;
}

/* Photo de dos*/
.presentation img {
  width: 400px;
  display: block;
  margin-bottom: 20px;
  border: 5px solid #333;
  border-radius: 10px;
}

/* Biographie */
.Bio {
  margin-left: -100px;    /* pixel en négatif pour mettre une image sur l'autre */
  margin-right: 10px;
  color: #E0E0E0;
}

.Bio h3 {
  font-size: 46px;
  margin-bottom: 5px;
  padding-top: 50px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
}

.Bio p {
  font-size: 20px;
  margin-bottom: 22px;
}

.Bio h3, .Bio p {
  margin-left: 150px;
}

/* Photos avec célebrités*/
.celebrité img {
  height: 270px;
  margin-right: 30px;
  border: 5px solid #333;
  border-radius: 10px;  
}

/* Blog*/
.blog {
  margin-left: 100px;
  margin-right: 10px;
  color: #E0E0E0;
}

.blog h3 {
  font-size: 46px;
  margin-bottom: 5px;
  padding-top: 0px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  margin-top: 15px;
}

.blog h1 {
  font-size: 42px;
  margin-bottom: 5px;
  padding-top: 5px;
  font-family: 'League Spartan', sans-serif;
}

.blog p {
  font-size: 26px;
  margin-bottom: 22px;
}

.content-container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

.text-content {
  padding: 0 20px 20px 20px;
  background-color:#2C2C2C ;
  border-radius: 10px;
  box-sizing: border-box;
}

/* Photo Buzzcut*/
.buzzcut img {
  width: 500px;
  border: 5px solid #333;
  margin-left: 30px;
  border-radius: 10px;
}

/* Bouton en savoir plus qui mène sur une autre page*/
.bouton-en-savoir-plus {
  display: inline-block;
  padding: 10px 150px;
  background-color: #D2A932;
  color: white;
  text-decoration: none;    /* enlève le souligne sur le bouton */
  border-radius: 5px;
  font-weight: bold;    /* met le texte en gras */
  font-size: 20px;
  transition: background-color 0.3s
}

.bouton-en-savoir-plus:hover {
  background-color: #0056b3;
}

/* Les réseaux sociaux */
.social-media-callout h2 {
  font-size: 36px;
  margin-bottom: 10px;    /* Espace entre le titre et les réseaux */
  padding-top: 20px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  text-align: center;
  color: #E0E0E0;
}

.reseaux-sociaux {
  color: #E0E0E0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: 30px 0;
  gap: 100px;    /* espace entre les réseaux sociaux */
  flex-wrap: wrap;    /* Permet aux éléments de passer à la ligne suivante si nécessaire */
}

.reseau {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 0;
}

/* Réseau Snapchat */
.snapchat-embed {
  border-radius: 40px;
}

/* Réseau Instagram */
.insta {
  width: 300px;
  height: auto;
  border-radius: 30px;
  border-color:#333 ;
}

/* Formulaire*/
.form-container {
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #2C2C2C;
  border-color: #000;
  border-radius: 10px; 
  color:#E0E0E0 ;
}

/* Nom + Prénom + E-mail + Zone de texte*/
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #a4a4a4;
}

.form-group textarea {
  height: 100px;
}

/* Ancrage qui remonte vers le haut*/
.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px; 
  background-color: #D2A932;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}


.back-to-top:hover {
  background-color: #0056b3;
}
