@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700&display=swap');

* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    z-index: 100;
}

.menu_icons {
    width: 35px;
    cursor: pointer;
}

.logo {
    width: 200px;
    align-items: center;
    display: block;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

body{
    overflow: hidden;  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.galerie {
    display: flex;
    width: auto;
    animation: LesPhotos 30s linear infinite;
    margin: 0;
    padding: 0;
}

.galerie div {
    width: 300px;   
    flex:0 0 auto; 
    border: 2px solid #000000; 
}

.galerie img {
    width: 100%; 
    height: auto; 
    display: block; 
}

@keyframes LesPhotos {
    0%{
        transform:  translateX(0);
    }
    100%{
        transform:  translateX(-3000px);
    }
}
